.subscription {
  text-align: center;

  &__title {
    font-size: 3rem;
    font-weight: 700;
    color: #222;
  }

  &__desc {
    color: #555;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-size: 1.1rem;
  }

  &__grid {
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.plan-card {
  background: #fff;
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border: 1px solid #eef0ff;
  transition: all 0.3s ease;

  &__name {
    font-size: 1.8rem;
    font-weight: 600;
    color: #222;
  }

  &__price {
    margin: 1rem 0 1.5rem;
    font-size: 2.6rem;
    font-weight: 700;
    color: #000;

    span {
      font-size: 0.9rem;
      color: #777;
      margin-left: 3px;
    }
  }

  &__features {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
    text-align: left;

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.7rem;
      color: #555;
      font-size: 1rem;

      .icon {
        color: #26c281;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 0.9rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;

    &:focus {
      border-color: #7a2afd;
      box-shadow: 0 0 0 3px rgba(122, 42, 253, 0.2);
    }
  }

  &__btn {
    width: 100%;
    margin-top: 1.3rem;
    padding: 0.9rem;
    background: #7a2afd;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.25s ease;

    &:hover {
      background: #601bdc;
    }
  }
}

.success {
  color: #28a745;
  font-weight: 500;
  margin-bottom: 1rem;
}

.error {
  color: #dc3545;
  font-weight: 500;
  margin-bottom: 1rem;
}

.rotating {
  display: inline-block;
  animation: spin 1s linear infinite;
  margin-right: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
