.user__dashboard {
  color: #222;
  background: #f9f9ff;
  height: 100vh;
  display: grid;

  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(0, .3fr) minmax(0, 1fr);

  grid-template-areas:
    "aside head"
    "aside content";
}

.header {
  grid-area: head;
  background: #ffffff;
  padding-top: 1em;
  border-bottom: 1px solid #ececec;
  padding-bottom: 0;
  height: fit-content;
}

.left__panel {
  grid-area: aside;
  background: #fff;
  border-right: 1px solid #ececec;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding: 1em 1em;
}

.content {
  grid-area: content;
  padding: 1.2em 1.5em;
  overflow-y: auto;
}

.refresh-wrapper {
  display: flex;
  flex-direction: column;

  h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #0078d4;

    .refresh-btn {
      background: transparent;
      border: none;
      cursor: pointer;
      color: #0078d4;
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      transition: 0.2s;

      &:hover {
        color: #005a9e;
      }
    }
  }
}
