.features-section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;

  h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.2rem;
    font-weight: 700;
  }

  .features-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }

  .feature-card {
    background: #ffffff;
    padding: 28px;
    border-radius: 16px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: 0.3s ease;


    h3 {
      color: #7a2afd;
      margin-bottom: 12px;
      font-size: 1.3rem;
    }

    p {
      opacity: 0.85;
      font-size: 1rem;
      line-height: 1.4;
    }

  }

  /*----------------- RESPONSIVE -----------------*/

  /* Small Phones */
  @media (max-width: 480px) {
    padding: 60px 15px;

    h2 {
      font-size: 1.8rem;
      margin-bottom: 30px;
    }

    .feature-card {
      padding: 22px;

      h3 {
        font-size: 1.2rem;
      }

      p {
        font-size: 0.95rem;
      }
    }
  }

  /* Tablets */
  @media (min-width: 768px) {
    h2 {
      font-size: 2.4rem;
    }

    .feature-card {
      padding: 30px;
    }
  }

  /* Desktop Large Screens */
  @media (min-width: 1024px) {
    h2 {
      font-size: 2.8rem;
    }

    .feature-card {
      padding: 35px;
      h3 {
        font-size: 1.4rem;
      }
    }
  }
}
